/*Mobile nav*/
div.relative.float-right {
  padding: 1.5rem;
  border-radius: 1.5rem;
}

/*Blurred navbar*/
#navbar {
  backdrop-filter: blur(3rem);
}

/*Card rounding*/
a.card {
  border-radius: 1.5rem;
}

/*Disable text selection where it shouldn't be*/
#navigation-items, #navbar {
  user-select: none;
  -webkit-user-select: none;
}
