mark {
  --tint: rgb(var(--primary-light));
  position: relative;
  border: var(--tint) 0.2rem solid;
  box-shadow: inset 1px 1px 1rem var(--tint);
  background: transparent;
  color: var(--gray-400);
  padding: 0.15rem 0.3rem;
  border-radius: 0.65rem;
}

/*Mark Types*/
mark.okie { --tint: cyan }
mark.featured { --tint: #d7ae03 }

/*Different <mark> for searchbar*/
div[data-headlessui-state] > div > div > div > div > div > mark, /*Titles*/
div[data-headlessui-state] > div > div > div > div > div > div > div > div > mark, /*Paths*/
div[data-headlessui-state] > div > div > div > p > mark /*Content Previews*/ {
    padding: 0 0.25rem;
    border-radius: 0.25rem !important;
    border: none !important
}
