@import url("https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/css/DTGetaiGroteskDisplayBlack.css");

h1, h2, h3, h4, h5, h6 {
  font-family: "DT Getai Grotesk Display Black", monospace;
  font-weight: 900;
  font-style: normal;
}

button {
  transition: 0.2s ease;
}

/*Mobile nav*/
div.relative.float-right {
  padding: 1.5rem;
  border-radius: 1.5rem;
}

/*Blurred navbar*/
#navbar, #navbar-transition-maple {
  backdrop-filter: blur(3rem);
}
#navbar-transition-maple {
  padding-left: 1rem;
}

/*Card rounding*/
a.card {
  border-radius: 1.5rem;
}

/*Disable text selection where it shouldn't be*/
#navigation-items, #navbar {
  user-select: none;
  -webkit-user-select: none;
}

#content-area {
  max-width: 55rem;
}

/*Watermark/Branding*/
footer#footer > .flex.items-center.justify-between {
  display: none;
}

/*Page switcher*/
#pagination {
  border-radius: 1.5rem;
}
#pagination > a > div {
  border-radius: 1.25rem;
}
